section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;

}
div:nth-of-type(2n){
    background-color: #f7db6a;
}
div:nth-of-type(3n){
    background-color: #ebb02d;
}
/* transform */
#one{
    transform:rotate(45deg) ;
}
#one:hover{
    /* transform:rotate(7deg); */
    background-color: black;
}
#two{
    transform: scale(1,0.5);
}
#two:hover{
    background-color:white
}
#three{
    transform: translatex(-100px);
    /* transform: translate(100px); */
}
#three:hover{
    background-color: rgb(0, 255, 255);
}
#four{
    /* transform: skew(45deg); */
    /* transform: skew(-90deg); */
    transform: skew(30deg);
}
#five{
    transform: rotate(30deg) translatex(100px);
}
