body {
    font-family: Arial, sans-serif;
    background-color: #002b4e;
    color: #fff;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
}
.card {
    background-color: #fff;
    color: #002b4e;
    padding: 20px;
    margin: 15px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
button {
    background-color: #002b4e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #005288;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 90%;
        margin: 10px 0;
    }
}