.container{
    width: 600px;
    height: 300px;
    background-color: black;
    /* display:flex; */
    /* by default flex direction is row */
    display: grid;
}
.items{
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}
