div{
    /* same hight and width make circal */
    height: 200px;
    width: 500px;
     background-color: pink;
     /* border-width: 5px;
    border-color: black;
    border-style: solid;   */
    border: 5px,black,solid;
    /* border-right: 5px yellow dotted;
    border-bottom: 10px white double; */
    /* border-radius: 50px; */
    border-radius:10px ;
    /* padding-top:7px;
    padding-left: 20px; */
    padding:50px ;
    /* margin-top: 20px;
    margin-right: 20px;
    margin-bottom:50px ;
    margin-left: 25px; */
    margin: 10px 20px 30px;
}
h1{
    /* border-width: 10px; 
    border-style: double;
    border-color: green;  */
    border: 5px dotted green;
    margin: 0;
} 
button{
    height: 30px;
    width: 100px;
    border-radius: 9px ;
    border: 2px black solid;
    background-color: yellow;
    padding: 30px,10px;
}

